.banner_slider .slick-next.slick-arrow, .banner_slider .slick-prev.slick-arrow{
    display: none !important;
}
.hero_area{
    min-height: 400px;
    width: 100%;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.slick-dots li button{
    width: 10px !important;
    height: 10px !important;
    padding: 0px;
    margin-right: 7px;
    color: transparent !important;
    background-color: #b2b4b5 !important;
    border: none;
}
.slick-dots li:last-child button{
    margin-right: 0px;
}
li.slick-active button{
    background-color: #000!important;
}
.left_part_banner h1{
    font-size: 22px;
    font-weight: 800;
    line-height: 35px;
}
.main_banner{
    background-color: #f2fafc !important;
    padding: 20px;
}
.base_bg{
    background-color: #f2fafc !important;
}
.main_banner_inner{
    max-width: 1200px;
    margin: auto;
}
body{
    overflow-x: hidden;
}
.hero_area {
    border-radius: 10px;
}
.left_side_list li{
    font-weight: 900;
    font-size: 18px;
    color: #585858;
}
.signup_login a {
    background-color: transparent !important;
    border-radius: 7px !important;
    border: 1px solid gray;
    padding: 8px 20px;
    display: inline-block;
    font-weight: 500;
    border: 2px solid #202c53;
}
.signup_login a:hover {
    font-weight: 500;
    color: #202c53;
}
.signup_login a.active_btn {
    background-color: #202c53 !important;
    color: #fff!important;
    letter-spacing: 2px;
    margin-right: 10px;
}
.signup_login a.active_btn:hover {
    background-color: transparent !important;
    color: #202c53!important;
}
.signup_login a.def_btn:hover {
    background-color: #202c53 !important;
    color: white!important;
}
.call_email{
    margin-top: 10px;
    margin-bottom: 10px;
}
.call_email a:hover{
    color: #236895 !important;
}
.first_call{
    margin-right: 10px;
}
.client_review_el{
    min-height: 100px;
}
.client_review_el div{
    padding: 100px;
}
.recommendation_title{
    text-align: center !important;
    font-size: 32px !important;
    text-transform: uppercase !important;
    color: #202c53 !important;
}

.left_side_list li span i{
    color: #478BCA;
}

.client_review .slick-prev{
    background: transparent;
    color: #95accf;
    border: none;
    top: 8%;
    left: -79px;
    position: absolute;
}
.client_review .slick-next{
    background: transparent;
    color: #95accf;
    border: none;
    position: absolute;
    top: 8%;
    right: -79px;
}
.client_review button:hover{
    background-color: transparent !important;
    color: #95accf;
}
.client_review button:focus{
    background-color: transparent !important;
    color: #95accf;
}