body{
    background-color: #efefef;
}
.text-center{
    text-align: center;
}
.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center !important;

}
.main-body{
    background-color: white;
    border-radius: 10px;
    height: 91vh;
}
.header-insider{
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
}
.main-body h2{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin: 0px;  
}
.header-part .table{
    padding-left: 10px;
    padding-right: 20px;
}
.main-body h2 span{
    font-size: 30px;
    font-weight: 700;
}
.middle-part{
    height: calc(100% - 105px);
    overflow-y: auto;
}
.mb-0{
    margin-bottom: 0px !important;
}
.right-part .single-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebeaea;
    padding-top: 10px;
}
.footer-part {
    border-top: 1px solid #e9e9e9;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.footer-part .right-part{
    padding-top: 15px;
}
.footer-part .f-head{
    font-weight: 900;
    font-size: 16px;
}
.footer-part .single-item p span{
    font-weight: 900;
    font-size: 16px;
}
.total-payable{
    text-align: center;
    padding: 10px 0px;
    border-radius: 8px;
    background-color: #8b5cf61a;
    color: #8d5df3;
}
.middle-part{
    padding-left: 10px;
    padding-right: 10px;
}
.header-insider table thead tr th{
    font-size: 16px;
    font-weight: 700;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-35{
    width: 35%;
}
.pt-0{
    padding-top: 0px !important;
}
.border-bottom-none{
    border-bottom: none !important;
}
#fullscreen i{
    font-size: 20px !important;
}
@media only screen and (min-width: 1367px) and (max-width: 2500) {
    .container {
        width: 1260px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .main-body{
        height: 89vh;
    }
}

.customer_panel_header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}