body{
    background-color: #F5F7FA;
}
.box_ready, .box_not_start, .box_started{
    width: 48%;
    height: auto;
    float: left;
    margin:4px;
    flex-direction: column;
    border-radius: 16px;
    background: white;
    /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07); */
}
.box_not_start{
    background: #f44336;
}
@media only screen and (max-width: 814px) {
    .box_ready, .box_not_start, .box_started{
        width: 97%;
    }
    .box_not_start{
        background: #f44336;
    }
    .box_started{
        background: #2196f3;
    }
}
.me-10{
    margin-right: 10px !important;
}
.cart_item{
    display: flex;
    padding: 20px 10px;
}
.header1{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.content1{
    background: #ffffff;
    padding: 8px;
    text-align: center;
    flex: 1;
    border-radius: 10px;
    text-align: left;
}
.cart_item_inner_part{
    margin-left: 15px;
}
.box_ready .header1{
    background: #34D39D33; 
    color: #25AC7E; 
}
.box_started .header1{
    background: #FDF2CD; 
    color: #D19C00; 
}

@media only screen and (max-width: 814px) {
    .content1{
        background: #ffffff;
        padding: 8px;
        font-size: 3rem;
        text-align: center;
        flex: 1;
    }
}
@media only screen and (max-width: 1300px) {
    .content1{
        background: #ffffff;
        padding: 8px;
        font-size: 3rem;
        text-align: center;
        flex: 1;
    }
}
.ods_1{
    margin: 0px auto;
    float: unset;
}
.ods_2{
    width: 100%
}
.ods_3{
    width: 49%;
    vertical-align: top
}
.ods_4{
    text-align: center;
    font-weight: bold
}
.ods_5{
    width: 1%
}
.ods_6{
    width: 100%;
    float:right;
    text-align: right;
    margin-right: 0px;
    padding-right: 0px;
}
.order_type_screen_p span{
    display: inline-block;
    border: 1px solid #212121;
    color: #212121;
    border-radius: 20px;
    padding: 6px 15px;
    margin-top: 20px;
    font-size: 16px;
}
.sale_order_no{
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    font-weight: bold;
}